body{
text-align:center;
background:rgb(252, 82, 4);
font-family: 'Quintessential', cursive;

}
#familybook{
height:70px;
width:50px;

}
h1{
    font-weight:bold ;
   
}
#b3{
    background-color:blue;
    color:white;
}
